*.log
firebase-service-account.json

node_modules/
build/
.cache/
public/

.env.*
.env
!.env.example

.venv/
*.pyc
__pycache__/
db.sqlite3
*.db

celerybeat-schedule*
celerybeat.pid

# Media files (user uploads)
media/
