rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin(userId) {
      return exists(/databases/$(database)/documents/admins/$(userId));
    }
    match /{document=**} {
      allow read, write: if isAdmin(request.auth.uid);
    }
    match /deals/{deal} {
      allow read;
    }
  }
}
