django~=5.2
psycopg2-binary~=2.9
dj-database-url~=2.3
celery~=5.4
redis~=5.2
google-api-python-client~=2.159
django-unfold~=0.45
Pillow~=11.0
colorthief~=0.2
numpy~=2.4.0
scikit-learn~=1.8.0
django-object-actions~=5.0
django-tz-detect~=0.5
django-extensions~=4.1
