#error-toast {
    position: fixed;
    z-index: 2;
    min-width: 350px;
    min-height: 87px;
    transform: translateX(75%);
    background: white;
    margin-top: 1.5rem;
}

#error-icon {
    width: 2rem;
}
