.subscribe-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  padding-right: 1rem;
  background: pink;
  border-radius: 2rem;
  cursor: pointer;

  img {
    width: 2rem;
  }
}

.subscribe-button:hover {
  box-shadow: 0.1rem 0.1rem darken(pink, 10%);
  bottom: 1.1rem;
  right: 1.1rem;
}
